# Node.js
node_modules/
dist/
dist-ssr/
*.local

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.pytest_cache/

# Data components
scaler.joblib
wine_model.joblib

# OS Files
.DS_Store
Thumbs.db
